/*======= Overall =======*/
body{
	background-color: #fff;
}

.phase{
	width: 80px;
	height: 380px;
	margin: 10px;
	background-color: #f00;
	text-decoration:none;
	position: absolute;
}

.task{
    width: 80px;
	height: 80px;
	margin: 10px;
	text-decoration:none;
	position: absolute;
}

#launch{
	top: 100px;
	left: 50px;
	background-color: #f00;
}

#plan{
	top: 100px;
	left: 150px;
	background-color: #880;
}

#manage{
	width: 480px;
	height: 80px;
	top: 100px;
	left: 250px;
	background-color: #0f0;
}

#analyze{
	height: 280px;
	top: 200px;
	left: 250px;
	background-color: #088;
}

#design{
	height: 280px;
	top: 200px;
	left: 350px;
	background-color: #088;
}

#build{
	height: 280px;
	margin: 10px;
	top: 200px;
	left: 450px;
	background-color: #088;
}

#test{
	height: 280px;
	top: 200px;
	left: 550px;
	background-color: #088;
}

#migrate{
	height: 280px;
	top: 200px;
	left: 650px;
	background-color: #088;
}

#transit{
	top: 100px;
	left: 750px;
	background-color: #808;
}

