/*======= Navigation =======*/
body{
	background-color: #eef;
}

#navcontainer {
	width: 155px;
	font:16px Arial, Helvetica, sans-serif;
	background-color: #fff;
	border: 1px solid #ccc;
	border-left: 10px solid #339;
	position: fixed;
}

#navlist {
	margin-left: 2px;
	padding: 5px;
	list-style: none;
}

#navlist li{
	background-image: url(image/icon.png);
	background-repeat: no-repeat;
	background-position: 0 .1em;
	border-bottom: 1px solid #ccc;
}

#navlist a{
	text-decoration:none;
	display:block;
	color: #226;
}

#navlist a:hover{
	color:#fff;
}

#navlist li:hover{
	background:#33f;
}
